*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
  --color-text: #f0f0f0;
  --color-bg: #000;
  --color-link: #aaa;
  --color-link-hover: #fff;
  --page-padding: 1rem;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: "area-normal", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px;
}

.box {
  height: 400px;
  width: 400px;
  background: #333;
  margin-bottom: 80px;
}

.box-text {
  font-size: 40px;
}

.gtext {
  line-height: 1;
  margin: 0;
  display: grid;
  font-weight: 400;
  justify-content: center;
  white-space: nowrap;
  --text-width: 100px;
  --gsplits: 4;
  --gcolor: #fff;
  --gsize: 5rem;
  font-size: var(--gsize);
  color: var(--gcolor);
  --offset: calc(var(--text-width) / var(--gsplits));
  grid-template-columns: repeat(var(--gsplits), var(--offset));
}

.gtext__box {
  overflow: hidden;
  position: relative;
  will-change: transform;
  margin-right: -0.5px;
}

.gtext__box-inner {
  width: max-content;
  position: relative;
  display: block;
  will-change: transform;
}

.content {
  display: grid;
}

.content--full {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
